# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
env/
venv/

# Build artifacts
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec

# Notebook checkpoints
.ipynb_checkpoints/

# Operating system clutter
.DS_Store
Thumbs.db

# Logs and caches
*.log
.cache/
.mypy_cache/

# IDE settings
.vscode/
.idea/

# Generated data products
/data/
SED_tools/data/
*/data/**i


/plots/
SED_tools/plots/
*/plots/**

*.bin
*.h5
*.fits
*.txz
*.dat
*.csv
*.json
*.pt

# Trained models / artifacts
models/*.keras
models/*.params
models/*training*.png
models/*prediction*.png

# Archives / data dumps
*.tar
*.tar.gz
*.tgz

# Random output images
*.png
